<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rkgit.com.geoattendance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/splash_image"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDBZwNHmI4JoQmUUIXu2XiuGCeF3GKmx74" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.dashboard.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".AuthenticationActivity" />
        <activity
            android:name="com.auth0.android.lock.LockActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="geoattendance.auth0.com"
                    android:pathPrefix="/android/rkgit.com.geoattendance/callback"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".modules.settings.UserInfoActivity" />
        <activity android:name=".modules.settings.AboutUsActivity" />
        <activity android:name=".MarkAttendanceActivity" />
        <activity android:name=".modules.dashboard.ChatActivity" />
        <activity android:name=".modules.dashboard.fragments.ViewAttendance" />
        <activity android:name=".DeveloperActivity" />
        <activity android:name=".modules.MonthlyAttendanceActivity" />
    </application>

</manifest>